[Unit]
Description=Kairos boot command
After=auditd.service systemd-user-sessions.service time-sync.target

[Service]
Environment=PARALLEL=
Environment=BUFFER=
Environment=LIVECACHE_TIMEOUT=
Environment=NOLISTENER=
Environment=ANALYZER_BEHAVIOUR=OLD
ExecStart=/usr/bin/python3 -m pykairos --bootstrap
KillMode=process

[Install]
WantedBy=multi-user.target
